__pycache__/
*.py[cod]
*$py.class
*.so
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.sqlite3-journal
db.sqlite3
media/
staticfiles/
static/
*.pgsql
.env
.env.*
venv/
ENV/
env/
.venv/
.vscode/
.idea/
*.iml
.mypy_cache/
.dmypy.json
dmypy.json
.cache/
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
Pipfile.lock
*.pid
.DS_Store
.ipynb_checkpoints
*.service
*.socket
*.timer
celerybeat-schedule
node_modules/
*.log
logs/
*~
*.bak
*.swp
*.swo
test-results/
.env
!.env.sample
